img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.limitador {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #ffffff;
}

#typing-animation {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

.Top {
    justify-content: center;
    margin-top: 100px;
    font-weight: 700;
}

.fulltop {
    border-top: 1px solid #5d9e7e;
    background-image: url(img/bgi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;


}

.navbar-toggler-icon {
    border-color: white;
}

.button {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background: #39ABE5;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            #39ABE5 10.8%,
            #0E9CE3 94.3%);
    transition: all 0.475s;
}


.line-after {
  display: inline-block;
  position: relative;
}

.line-after::after {
  content: "";
  display: block;
  width: 50px; 
  height: 2px; 
  background-color: #0E9CE3; 
  position: absolute;
  bottom: -5px; 
  left: 100%; 
  transform: translateX(-50%);
}

.hbl {
    justify-content: space-around;
    text-align: center;
}

.hbls {
    margin-bottom: 16px;
    padding-top: 26px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 16px;
    background-color: #b5e6ff;
    border-radius: 10px;
    margin: 10px;
   border: 1px solid #0E9CE3;
}

.hbls:hover {
    transition: 0.1;
    transition: all .45s ease;
    background-color: #69c3f1;

}

.botaoEpl {
    background: linear-gradient(82.3deg,
            #aedd2b 10.8%,
            #aedd2b 94.3%);
    color: white;
    font-weight: 600;
    border: hidden;
    border-radius: 7px;
    height: 70px;
    width: 200px;
}

.projetos h1 {
    text-align: center;
    border-top: 1px solid #5d9e7e;
    padding-top: 15px;
}

.cardss {
    text-align: center;
}

.contatos h1 {
    text-align: center;
    margin-bottom: 15px;
}

.tots {
    text-align: center;
}

.icones {
    background-color: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}