img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.limitador {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #2b2318;
}

#typing-animation {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

.Top {
    justify-content: center;
    margin-top: 100px;
    font-weight: 700;
}

.fulltop {
    border-top: 1px solid #5d9e7e;
}

.navbar-toggler-icon {
    border-color: white;
}

.button {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            #5d9e7e 10.8%,
            #78b3a4 94.3%);
    transition: all 0.475s;
}

.hbll {
    padding-top: 100px;

}

.hbll h1 {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #5d9e7e;
}

.hbl {
    text-align: center;

}

.hbls {
    margin-bottom: 16px;
    padding-top: 16px;
    border: 2px solid white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top: 5px solid #5d9e7e;
    max-width: 105px;
    width: 100%;
}

.hbls:hover {
    transition: 0.5s;
    box-shadow: 0 0 5px black;
    transform: translateY(-2px);
    background-color: rgb(101, 70, 130);
    border: 2px solid white;
}

.botaoEpl {
    background: linear-gradient(82.3deg,
            #5d9e7e 10.8%,
            #78b3a4 94.3%);
    color: white;
    font-weight: 600;
    border: hidden;
    border-radius: 7px;
    height: 70px;
    width: 200px;
}

.projetos h1 {
    text-align: center;
    border-top: 1px solid #5d9e7e;
    padding-top: 15px;
}

.cardss {
    text-align: center;
}

.contatos h1 {
    text-align: center;
    margin-bottom: 15px;
}

.tots {
    text-align: center;
}

.icones {
    background-color: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}